h1{
    color: white;
}
p {
    color: red;
}
h2{
    
    color: yellow;
}
main {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  background-color: grey;
}

div {
    padding: 10px;
    
}
img {
    border-radius: 50px;
    width: 80%;
    border: 10px solid black;
    
}
img a:hover{
background-color: red;
}